-e git+ssh://git@github.com/philgzl/batch-pystoi.git@0982a6eb4ffeeac6d47b5ffb780e383f4d279580#egg=batch_pystoi
cfgv==3.3.1
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.11.0
flake8==6.0.0
fonttools==4.39.3
identify==2.5.22
iniconfig==2.0.0
isort==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
mccabe==0.7.0
nodeenv==1.7.0
numpy==1.24.2
packaging==23.1
Pillow==9.5.0
platformdirs==3.2.0
pluggy==1.0.0
pre-commit==3.2.2
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.0.9
pystoi==0.3.3
pytest==7.3.0
python-dateutil==2.8.2
PyYAML==6.0
scipy==1.10.1
six==1.16.0
tomli==2.0.1
virtualenv==20.21.0
